header {
  font-size: 75px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home {
  height: 500px;
  margin-left: 465px;
  margin-bottom: 30px;
}

.genreGrid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 50px;
  padding: 60px;
  /* background-color: black; */
  background:  #053C5E;
  
}

.genreGrid a {
  width: 310px;
  height: 220px;
  /* border: 1px solid black; */
  /* border: 7px solid #c4aead; */
  
  text-decoration: none;
  text-align: center;
  font-family:'Segoe UI', sans-serif;
  font-size: 50px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  /* -webkit-box-shadow: 1px 5px 11px 10px rgba(163, 22, 33, 0.57),
    inset 1px 5px 20px 15px #053c5e,
    inset 1px 5px 50px 11px rgba(5, 60, 94, 0.39),
    inset 1px 5px 50px 11px rgba(5, 60, 94, 0.39);
  box-shadow: 1px 5px 11px 10px rgba(163, 22, 33, 0.57),
    inset 1px 5px 20px 15px #053c5e,
    inset 1px 5px 50px 11px rgba(5, 60, 94, 0.39),
    inset 1px 5px 50px 11px rgba(5, 60, 94, 0.39);
  -webkit-box-shadow: 1px 2px 15px 2px #a31621, inset 1px 2px 15px 2px #053c5e,
    inset 1px 2px 15px 2px #053c5e;
  box-shadow: 1px 2px 15px 2px #a31621, inset 1px 2px 15px 2px #053c5e,
    inset 1px 2px 15px 2px #053c5e;
  background: #a4a4a4; */

  /* box-shadow: 5px 5px 5px 5px #c4aead; */
}


/* Ask Abe About why the border is going around the complete thing */
.genreGrid a:hover {
  /* box-shadow: 5px 5px 5px #c4aead; */
  border: 7px solid #c4aead;
  box-sizing: border-box;


}
.genre {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.icon {
  height: 75px;
  /* color: #c4aead; */
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1170px) {
  /* #menu-icon {
    display: block;
}

.navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 100vh;
    background: #002765;
    padding: 20px 15px;
    gap: 0.5rem;
    text-align: left;
    transition: all .50s ease;
}

.navbar a {
    display: block;
    font-size: 25px;
    padding: 15px;
}

.navbar.open {
    right: 0;
} */
}