.movieListContainer{ 
    /* background:black; */
    /* background: #053C5E; */
    /* background:#A31621; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    

} 

/* #EDCBB1 */